/*!
 * bootfy CSS
 * @author odahcam
 * @version 1.0.0
 **/

.bootfy {
    opacity: 0;
    filter: alpha(opacity=0);
}

.bootfy .glyphicon {
    font-size: 20px;
    float: left;
    margin-right: 14px;
}

.bootfy p {
    display: table;
}

.container-bootfy {
    position: fixed;
    width: 360px;
    max-width: 95%;
    z-index: 2060;
    left: 20px;
    right: 20px;
    top: initial;
    bottom: initial;
}

.container-bootfy.top {
    top: 20px;
}

.container-bootfy.bottom {
    bottom: 20px;
}

.container-bootfy.right {
    left: initial;
}

.container-bootfy.left {
    right: initial;
}

.container-bootfy.center {
    left: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
