/*!
 * Bootify CSS
 * @author odahcam
 * @version 1.0.0
 **/

.bootify {
    opacity: 0;
    filter: alpha(opacity=0);
}

.bootify .glyphicon {
    font-size: 20px;
    float: left;
    margin-right: 14px;
}

.bootify p {
    display: table;
}

.container-bootify {
    position: fixed;
    width: 360px;
    max-width: 95%;
    z-index: 2060;
    left: 20px;
    right: 20px;
    top: initial;
    bottom: initial;
}

.container-bootify.top {
    top: 20px;
}

.container-bootify.bottom {
    bottom: 20px;
}

.container-bootify.right {
    left: initial;
}

.container-bootify.left {
    right: initial;
}

.container-bootify.center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
